.lincle-minimap {
  width: 100%;
  height: 100%;
  user-select: none;
}

.lincle-minimap-container {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.lincle-minimap-pad {
  position: relative;
}

.lincle-minimap-node {
  position: absolute;
  border: 1px solid black;
}

.lincle-minimap-view {
  position: absolute;
  border: 1px solid black;
}

.lincle-minimap-svg {
  display: flex;
  align-items: center;
  background-color: rgba(255 255 255 / 0.95%);
  cursor: pointer;
  pointer-events: auto;
  backdrop-filter: blur(8px);
}
