/* edge */

.lincle-base-edges {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: visible;
  backface-visibility: hidden;
  inset: 0;
  filter: drop-shadow(0 3px 6px rgba(0 0 0 / 16%)) drop-shadow(0 3px 6px rgba(0 0 0 23%));
}

.lincle-base-edges > :not(path) {
  cursor: unset;
}

.lincle-base-edge-marker-arrow {
  fill: black;
}

.lincle-base-edge-marker-circle {
  fill: black;
}

/* grid */

.lincle-base-grid {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* node */

.lincle-base-node {
  position: absolute;
  transform-origin: 0 0;
}

.lincle-base-node-round {
  border-radius: 50%
}

/* path */

.lincle-base-edge-path {
  stroke: black;
}

.lincle-base-edge-path:hover {
  animation: lincle-base-edgedash 1.5s linear reverse infinite;
  stroke-dasharray: 5 5;
}

.lincle-base-edge-dash-all .lincle-base-edge-path {
  animation: lincle-base-edgedash 1.5s linear reverse infinite;
  stroke-dasharray: 5 5;
}

.lincle-base-edge-dash-none .lincle-base-edge-path {
  animation: none;
  stroke-dasharray: none;
}

.lincle-base-edge-dash-on {
  animation: lincle-base-edgedash 1.5s linear reverse infinite;
  stroke-dasharray: 5 5;
}

.lincle-base-edge-dash-off.lincle-base-edge-path:hover {
  animation: none;
  stroke-dasharray: none;
}

.lincle-base-edge-path-border {
  stroke-width: 8px;
  stroke: black;
  opacity: 0;
  pointer-events: all;
}

.lincle-interactive-drag + svg > path {
  animation: lincle-interactive-dash 20s linear reverse infinite;
  stroke-dasharray: 5 5;
}

.lincle-base-edge-path-border:hover + path {
  animation: lincle-base-edgedash 1.5s linear reverse infinite;
  stroke-dasharray: 5 5;
}

.lincle-base-edge-path-border:hover + .lincle-base-edge-path {
  animation: lincle-base-edgedash 1.5s linear reverse infinite;
  stroke-dasharray: 5 5;
}

.lincle-base-edge-path-border:hover + .lincle-base-edge-dash-off.lincle-base-edge-path {
  animation: none;
  stroke-dasharray: none;
}

.lincle-base-edge-dash-none .lincle-base-edge-path-border:hover + .lincle-base-edge-path {
  animation: none;
  stroke-dasharray: none;
}

@keyframes lincle-base-edgedash {
  to {
    stroke-dashoffset: 30;
  }
}
