html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.swiper-slide > :only-child {
  width: 100%;
  height: 100%;
}
